@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Yusei Magic', sans-serif;

    scroll-behavior: smooth;
}


body {
    background: linear-gradient(62deg, rgba(57, 62, 70, 1) 17%, rgba(34, 40, 49, 1) 100%);
    color: #EEEEEE;
}

h1,
h2,
h3 {
    color: #ffffff;
}

section {
    padding-bottom: 3rem;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}


/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    background-color: #222831;
    width: 100%;
    height: 5rem;
    min-height: 75px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    z-index: 1001;

}

.navbar-logo {
    width: fit-content;
    margin-top: .5rem;
    margin-left: 2rem;
}

.nav-logo img {
    width: 250px;
}

.nav-links {
    margin-top: 1.5rem;
    position: absolute;
    right: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #c6c6c6;
    font-size: larger;
    font-weight: 600;
    transition: ease-in-out all .1s;
    margin-left: 2rem;
}

.active {
    color: #ffffff;
    text-decoration: underline;
}

.nav-link:hover {
    color: #ffffff;
}

/* Sidenav */
.sidenav {
    right: 0;

    height: 0%;
    width: 100%;

    position: fixed;
    z-index: 1000;

    background-color: #222831;

    overflow-y: hidden;

    opacity: 0;

    transition: all ease-in-out .3s;

}

/* Sidenav links */
.sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav a {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #c6c6c6;

    display: block;
    margin-top: 5rem;

    transition: all ease-in-out .3s;
}

.sidenav a span i {
    margin-right: 1rem;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #ffffff;
}

/* Sidenav turn off button */
.sidenav .closebtn {
    display: flex;
    justify-content: end;
    width: 80%;
    font-size: 36px;
    margin-left: 50px;
}

/* Sidenav turn on button */
.openNav {
    padding: .1rem .5rem;

    cursor: pointer;

    font-size: 24px;

    color: #c6c6c6;
    border: 1px solid #c6c6c6;
    border-radius: 5px;

    display: none;
    position: absolute;
    top: 1.25rem;
    right: 1.5rem;
}

/* Index Page */
.introduction {
    margin-top: 3rem;

    background-image: url("../assets/img/introduction.jpg");
    filter: grayscale(50%) contrast(100%) invert(10%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 50vh;
    min-height: fit-content;

    width: 100%;

    padding-top: 3rem;
    padding-left: 3rem;
    padding-bottom: 5rem;

    font-size: normal;
}

.greetingButton {
    width: 10%;
    min-width: fit-content;
    margin-top: 1rem;
    padding: .3rem;

    font-weight: thin;
    font-size: normal;

    border: none;
    background: #48abe0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
}

.greetingButton span {
    
    letter-spacing: 2px;
    transition: all ease-in-out .3s;
}

.greetingButton span:hover {
    opacity: .7;
    letter-spacing: 1px;
}


.reason {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason-img img {
    width: fit-content;
}

#table {
    margin-top: 3rem;
}

.table-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

th {
    color: #ffffff;
    font-weight: bolder;
    font-size: large;
}

table {
    border: 5px solid ;
}

th,
td {
    border: 2px solid;
    padding: 2rem;
}

/* History Page */
#introduction {
    background-image: url("../assets/img/HistoryOfMagic.jpeg");
    padding: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.introduction-container {
    margin-top: 1.5rem;
    margin-right: 3rem;
    width: 70%;
}

.content-list li a {
    text-decoration: none;
    color: #c6c6c6;
    font-size: large;

    transition: all ease-in-out .3s;
}

.content-list li a:hover {
    color: #48abe0;
}

.timeline {
    width: 80%;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 3rem;
}

.text-container {
    margin-right: 2rem;
}

.image-container img {
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #48abe0;
    max-width: 300px;
    min-width: 100px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.image-container img:hover {
    opacity: .7;
}


/* Contact Page */
#contact {
    width: 80%;

    min-height: 77.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;
    margin-top: 3rem;

    font-size: larger;

}

.contact-container {
    margin-right: 3rem;
}

.contact-container li a {
    text-decoration: none;
    color: #48abe0;

    transition: all ease-in-out .3s;
}

.contact-container li a:hover {
    color: #c6c6c6;
}

.contact-container ul {
    margin-top: 1rem;
}

.contact-image-container img {
    border-radius: 15px;
    width: 300px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.contact-image-container img:hover {
    opacity: .7;
}

/* Legends Page */
.legends-container {
    min-height: 81vh;
}

.legends-container h1 {
    padding-top: 7.55rem;
}

.cards-container {
    width: 80%;
    padding-top: 3rem;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
}

.card {
    margin: auto;

    width: fit-content;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;

    cursor: pointer;
    transition: all ease-in-out .3s;
}

.card:hover {
    opacity: .7;
}

.card img {
    width: 150px;
    max-height: 180px;
    border-radius: 15px 15px 0 0;
}

.card h3 {
    font-size: 15px;
    text-align: center;
    color: #222831;
    padding-bottom: 1rem;
}

/* Go to top */
.goTop {
    position: fixed;
    right: 3rem;
    bottom: 0rem;
    font-size: xx-large;
    margin: 1rem;

    background-color: #222831;
    padding: 1rem;
    border-radius: 15px;
    border: 1px solid #ffffff;

    cursor: pointer;
    transition: all ease-in-out .3s;
}

.goTop a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #EEEEEE;
}


/* Footer Styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;


    width: 100%;

    background: linear-gradient(186deg, rgba(34, 40, 49, 1) 44%, rgba(57, 62, 70, 1) 100%);

}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        font-size: small;
    }

    /* Navbar */
    .nav-links {
        display: none;
    }

    .navbar-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0;
    }

    .navbar-logo img {
        width: 225px;
    }

    .openNav {
        display: block;
    }

     /* Index Page */
     .introduction {
        padding: 1rem;
        width: fit-content;
        height: fit-content;
    }

    .reason {
        display: block;
        height: fit-content;
    }

    .reason-img {
        margin-bottom: 1rem;
    }

    .reason-img img{
        width: 75%;
        margin: auto;
    }

    #table-hr {
        display: none;
    }

    #table {
        display: none;
    }

    /* History Page */
    #introduction {
        display: block;
    }

    .introduction-container{
        margin-bottom: 3rem;
    }

    .timeline {
        display: block;
    }

    .text-container {
        margin-bottom: 1rem;
    }

    .image-container img{
        width: 75%;
    }

    /* Contact Page */
    #contact {
        display: block;
    }

    .contact-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 375px) {
    /* Navbar */
    .navbar-logo {
        justify-content: left;
        margin-left: 1rem;
    }
}